body {
    background-color: #ffffff;
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
     }
.title-block {
    width: 1440px;
    height: 600px;
    background-color: #2E2F42;
     }
.title-info {
    color: white;
    font-size: 56px;
    font-weight: 700;
    text-align: center;
     }
.logo-header {
    font-size: 18px;
}
.logo-web-1 {
    color: #4D5AE5;
}
.logo-studio-1 {
    color: #2E2F42;
}


/*Our Team*/
.team-block {
   background-color: #F4F4FD; 
}
.team-title {
    text-align: center;
    font-size: 36px;
}
.team-card {
    background-color: #ffffff;
}
.team-name {
    text-align: center;
    font-size: 20px;
}
.team-position {
    text-align: center;
    font-size: 16px;
    color: #434455;
}
.portfolio-title {
    text-align: center;
    font-size: 36px;
}

footer {
    width: 1440px;
    height: 312px;
    background-color: #2E2F42;
}
.logo-footer {
    font-size: 18px;
}
.logo-web-2 {
    color: #4D5AE5;
}
.logo-studio-2 {
    color: #F4F4FD;
}
.logo-info {
    color: #F4F4FD;
    font-size: 16px;
}