body {
    background-color: #ffffff;
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
     }

ul, ol {
    list-style-type: none;
     }
a {
text-decoration: none;
}

.title-block {
    background-color: #2E2F42;
     }
.title-info {
    color: white;
    font-size: 56px;
    font-weight: 700;
    text-align: center; 
    line-height: 1.1;
    letter-spacing: 0.02em;
     }
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo .logo-part {
    color: #2e2f42;
}
.footer-logo .logo-part {
    color: #f4f4fd; 
}


.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}
.contacts {
    font-style: normal;
}

.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; 
}
.button-order-service {
    border-radius: 4px;
    padding-block: 16px;
    padding-inline: 32px;
    background-color: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

/*Our Features*/
.section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.section-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

/*Our Team*/
.team-block {
   background-color: #F4F4FD; 
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.team-card {
    background-color: #ffffff;
}
.team-name {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.team-position {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
        
}

/*Our Portfolio*/
.portfolio-title {
    text-align: center;
    font-size: 36px;
    color: #2E2F42;
    line-height: 1.11111;
    letter-spacing: 0.02em;
}
.portfolio-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.portfolio-position {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.page-footer {
    background-color: #2E2F42;
}
.logo-footer {
    font-size: 18px;font-size: 18px;
    font-family: "Raleway", "sans-serif";
    line-height: 1.17;
    text-transform: uppercase;
    text-decoration: none;
}
.footer-logo .logo-part {
    color: #f4f4fd;
}
.logo-info {
    color: #F4F4FD;
    font-size: 16px;
}